body {
  background-color: white;
  color: #323232;
  font: 100%;
  margin: 0;
  font-family: ubuntu, sans-serif;
  font-weight: 300;
  color: #323232; }

.btn {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #29B6F6;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none; }
  .btn:hover {
    background-color: #323232; }

h1 {
  color: black; }

h2 {
  font-family: ubuntu, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 36px; }

.imgLogo {
  height: 103px; }

.main-head {
  padding-top: 30px;
  margin-bottom: 20px; }
  .main-head p {
    text-align: right;
    font-weight: 400;
    margin: 0; }
  .main-head .number {
    font-family: ubuntu, sans-serif;
    text-style: bold;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600; }
  .main-head .mailblock {
    padding-top: 35px; }
    .main-head .mailblock .mailto img {
      height: 42px; }

.main-name {
  font-family: ubuntu, sans-serif;
  letter-spacing: 2px;
  line-height: 20px;
  padding-top: 35px;
  margin-bottom: 5px; }
  .main-name .email {
    color: #00C0FF;
    font-style: strong; }

.menu {
  background-color: #323232;
  color: white; }
  .menu .main-menu {
    width: 100%;
    text-align: center; }
    .menu .main-menu a {
      color: white;
      text-decoration: none; }
      .menu .main-menu a:hover {
        color: #29B6F6; }
    .menu .main-menu li {
      text-transform: uppercase;
      font-size: 13px;
      font-family: ubuntu, sans-serif;
      padding: 15px 50px;
      letter-spacing: 3px;
      font-weight: 500;
      text-align: left; }
    .menu .main-menu .main-menu-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style-type: 0;
      margin: 0;
      padding: 0; }
      .menu .main-menu .main-menu-list li {
        display: inline-block; }
    .menu .main-menu .main-menu_btn {
      display: none; }

.burger-click-region {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer; }

.burger-menu-piece {
  display: block;
  position: absolute;
  width: 40px;
  border-top: 6px solid #29B6F6;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  -o-transition: transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out; }
  .burger-menu-piece:nth-child(1) {
    top: 0; }
  .burger-menu-piece:nth-child(2) {
    top: 12px;
    opacity: 1;
    -webkit-transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    -o-transition: transform 400ms ease-out, opacity 0ms linear 200ms;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms, -webkit-transform 400ms ease-out; }
  .burger-menu-piece:nth-child(3) {
    top: 24px; }
  .active .burger-menu-piece f {
    -webkit-animation: burger-open-top 400ms ease-out forwards;
            animation: burger-open-top 400ms ease-out forwards; }
  .active .burger-menu-piece:nth-child(2) {
    opacity: 0;
    -webkit-transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    transition: opacity 0ms linear 200ms, -webkit-transform 400ms ease-out;
    -o-transition: transform 400ms ease-out, opacity 0ms linear 200ms;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms;
    transition: transform 400ms ease-out, opacity 0ms linear 200ms, -webkit-transform 400ms ease-out; }
  .active .burger-menu-piece:nth-child(3) {
    -webkit-animation: burger-open-bot 400ms ease-out forwards;
            animation: burger-open-bot 400ms ease-out forwards; }
  .closing .active .burger-menu-piece {
    -webkit-animation: burger-close-top 400ms ease-out forwards;
            animation: burger-close-top 400ms ease-out forwards;
    -webkit-animation: burger-close-bot 400ms ease-out forwards;
            animation: burger-close-bot 400ms ease-out forwards; }

@-webkit-keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, 12px, 0);
            transform: translate3d(0, 12px, 0); }
  100% {
    -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
            transform: translate3d(0, 12px, 0) rotate(45deg); } }

@keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, 12px, 0);
            transform: translate3d(0, 12px, 0); }
  100% {
    -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
            transform: translate3d(0, 12px, 0) rotate(45deg); } }

@-webkit-keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -12px, 0);
            transform: translate3d(0, -12px, 0); }
  100% {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
            transform: translate3d(0, -12px, 0) rotate(-45deg); } }

@keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -12px, 0);
            transform: translate3d(0, -12px, 0); }
  100% {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
            transform: translate3d(0, -12px, 0) rotate(-45deg); } }

@-webkit-keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
            transform: translate3d(0, 12px, 0) rotate(45deg); }
  50% {
    -webkit-transform: translate3d(0, 12px, 0) rotate(0deg);
            transform: translate3d(0, 12px, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, 12px, 0) rotate(45deg);
            transform: translate3d(0, 12px, 0) rotate(45deg); }
  50% {
    -webkit-transform: translate3d(0, 12px, 0) rotate(0deg);
            transform: translate3d(0, 12px, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
            transform: translate3d(0, -12px, 0) rotate(-45deg); }
  50% {
    -webkit-transform: translate3d(0, -12px, 0) rotate(0deg);
            transform: translate3d(0, -12px, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-45deg);
            transform: translate3d(0, -12px, 0) rotate(-45deg); }
  50% {
    -webkit-transform: translate3d(0, -12px, 0) rotate(0deg);
            transform: translate3d(0, -12px, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideshow {
  min-height: 350px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }

.infosection {
  -webkit-background-size: cover;
          background-size: cover;
  background: #E1E1E1 url(img/sandpaper.jpg);
  padding: 100px; }
  .infosection .logoblack {
    display: block;
    margin: auto; }

.maintext {
  text-align: center;
  display: block; }

.mission {
  padding: 30px; }
  .mission .infonotes {
    line-height: 32px;
    white-space: nowrap; }
  .mission .documentblock {
    padding-left: 40px; }
  .mission .documentimg {
    padding-top: 15px; }
  .mission .documentinfo {
    margin: 0; }
    .mission .documentinfo p {
      margin: 0;
      padding-top: 5px;
      color: #7F7F7F; }

.maintitle {
  font-weight: 800;
  font-size: 18px; }

.geography {
  padding: 30px; }
  .geography .geoimg {
    display: block;
    margin: auto;
    padding-top: 30px; }
  .geography .geotext {
    font-size: 20px;
    line-height: 24px; }
  .geography h1 {
    margin-bottom: 50px; }
  .geography .questiontip {
    background-color: #EDEDED;
    width: 430px;
    padding-top: 2px;
    padding-left: 30px;
    padding-bottom: 2px;
    margin-top: 50px; }
    .geography .questiontip .question {
      font-size: 24px; }

.weHelp {
  padding: 30px; }
  .weHelp img {
    display: block;
    margin: auto; }
  .weHelp .weHelpTitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 22px; }
  .weHelp p {
    text-align: center;
    line-height: 22px; }
  .weHelp .weHelpStrong {
    font-weight: 600; }
  .weHelp h2 {
    padding-bottom: 30px; }
  .weHelp .btnContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px; }

.working {
  padding-top: 100px;
  margin-bottom: 100px; }
  .working h2 {
    text-align: left;
    font-size: 36px;
    letter-spacing: 1px; }
  .working p {
    line-height: 20px; }
  .working .btn {
    padding: 30px 20px; }

.profi {
  padding: 80px 0px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  color: #ffffff; }
  .profi p {
    text-align: center;
    padding: 10px; }

.sponsors {
  padding: 10px; }
  .sponsors img {
    width: 100%; }
  .sponsors .manLogo {
    width: 45%;
    display: block;
    margin: auto; }
  .sponsors .expressLogo {
    width: 60%;
    display: block;
    margin: auto; }
  .sponsors .dkbLogo {
    margin-top: 15px; }

.footer {
  background-color: #323232;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #e1e1e1; }
  .footer a {
    text-decoration: none;
    color: #fff; }
  .footer .row {
    padding: 10px 0px; }
  .footer .discriptionFooter {
    color: #909090; }
  .footer .formTitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: #29B6F6;
    margin-top: 10px; }
  .footer #submit {
    background-color: #29B6F6;
    width: 9%;
    padding: 8px 0px;
    border: 1px solid;
    text-transform: uppercase;
    font-weight: 600; }
    .footer #submit:hover {
      background-color: #323232;
      color: #ffffff; }
  .footer #message {
    width: 80%;
    padding: 8px;
    padding-bottom: 20px;
    margin-top: 5px; }
  .footer #email {
    width: 70%;
    padding: 8px; }

.advice-top {
  padding: 10px 0px;
  background-image: url(../img/sandpaper.jpg); }

.gallery {
  padding: 40px; }

.rnd-advice {
  min-height: 350px;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  padding: 60px 0px;
  color: #ffffff; }
  .rnd-advice h2 {
    padding-bottom: 15px; }
  .rnd-advice p {
    text-align: center;
    line-height: 1.5; }

.blue-advice {
  padding: 80px 0px;
  color: #ffffff;
  background-color: #29B6F6; }
  .blue-advice p {
    text-align: center; }
  .blue-advice img {
    display: block;
    margin: auto; }

.contact-block {
  padding: 60px 0px; }
  .contact-block .col-md-4 {
    padding-right: 0; }
  .contact-block .col-md-8 {
    padding-left: 0; }
  .contact-block .map-info {
    background-color: #323232;
    height: 400px;
    padding: 50px 30px; }
  .contact-block p {
    color: #ffffff;
    font-weight: 500;
    line-height: 1.7;
    font-size: 20px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin-top: 59px; }
  .contact-block .blue-marker {
    color: #29B6F6;
    font-weight: 600; }
  .contact-block .blue-line {
    width: 100%;
    background-color: #29B6F6;
    height: 30px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .menu .main-menu li {
    padding: 15px 30px; }
  .weHelp .weHelpTitle {
    white-space: nowrap; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu .main-menu li {
    padding: 15px 15px; }
  .attachmentPdf {
    text-align: center; }
  .geoinfo {
    text-align: center; }
  .geography .questiontip {
    text-align: center;
    padding-left: 5px;
    width: 350px;
    display: block;
    margin: auto; }
  .weHelp .lizing {
    font-size: 18px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .mailblock {
    display: none; }
  .imgLogo {
    display: block;
    margin: auto;
    height: 135px; }
  .main-name {
    padding-top: 10px; }
    .main-name p {
      text-align: center; }
  .main-head .number {
    text-align: center; }
  .menu .main-menu {
    position: relative; }
    .menu .main-menu .main-menu_btn {
      right: 0;
      display: block;
      padding: 20px 0px; }
    .menu .main-menu .main-menu-list {
      list-style-type: 0;
      margin: 0;
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: none; }
      .menu .main-menu .main-menu-list a {
        text-decoration: none;
        padding: 20px 200px;
        white-space: nowrap; }
        .menu .main-menu .main-menu-list a:hover {
          background-color: #29B6F6;
          color: #323232;
          cursor: pointer; }
      .menu .main-menu .main-menu-list li {
        display: block;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 16px;
        line-height: 2; }
        .menu .main-menu .main-menu-list li:last-child {
          padding-bottom: 20px; }
      .menu .main-menu .main-menu-list__active {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        list-style-type: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
